body {
	background-image: url("https://images.pexels.com/photos/54276/pexels-photo-54276.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
	margin: 0px;
    padding: 0px;
    background-size: 150%;
    background-attachment: fixed;
}

.buttons-view {
	margin: 20px 0px 20px 0px;
}

.gifDiv {
	margin-right: 10px;
	float: left;
    margin-bottom: 20px;
    color: white;
}

.topic {
	margin-right: 5px;
	margin-bottom: 5px;
	background-color: lightskyblue;
	color: white;
}

#add-topic {
	background-color: lightskyblue;
	color: white;
	margin-top: 10px;
	margin-bottom: 10px;
}

#topic-input {
	width: 100%;
    margin-top: 2px;
    color: black;
}
#gif-form   {
    color: white;
}